/.ai
/.claude
/.cursor
.DS_Store
.editorconfig
.env
.env.backup
.env.production
/.fleet
/.github/skills
.husky/pre-commit
/.idea
/.junie
.php-cs-fixer.cache
/.phpunit.cache
.phpunit.result.cache
.pint.cache
/.vagrant
/.vscode
AGENTS.md
auth.json
/bootstrap/cache/*.php
CLAUDE.md
composer.*.pre13
composer.phar
/docs
Envoy.blade.php
/ext_addon
Homestead.json
Homestead.yaml
/node_modules
npm-debug.log
/postfix/vendor
/public/build
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
ray.php
/resources/js/ziggy.js
scripts/envoy-sync-staged.sh
/storage/*.key
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
Thumbs.db
/vendor
vite.config.*.timestamp-*
yarn-error.log
